HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!proxy-server/proxy-server-app/src/main/**
!proxy-server/proxy-server-app/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### VS Code ###
log/
logs/

# Ignore Gradle build output directory
build
